

html{
    background: linear-gradient(160deg,#1D74E6,white 65% ) no-repeat;
    display: flex;
    height:100%;
    justify-content: center;
}



body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.main_upload_file{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 30vw;
    background-color: white;
    border-radius: 5%;
    flex-direction: column;
    
}

.center_send_file{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    margin-bottom: 5%;
}

.select-file-input {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 8px;
  background: #f3f4f6;
  color: #111827;
  cursor: pointer;
  user-select: none;
}

.select-file-input:hover {
  background: #E6F0FE;
}

.css-svg_input{
    display: flex;
    margin-right: 1%;
    width: 1vw;
    height: 1vw;
}

.input_file {
  display: none;
}

footer{
    display: flex;
    justify-content: center;
    
}